
/* .   */
* {
	box-sizing: content-box;
}

h1 {

	font-family: 'Cabin Sketch', cursive;
	font-size: 96px;
	color: #e8ce7e;
    padding:100px 90px;

}

h1.title {
	font-family: 'NTR', sans-serif;
	font-size: 64px;
	color: #ed2461;
	padding: 0;
}

header {
    height: 500px;
    width: 100%;
	/*background: #ecebe6 url(images/strawberries.jpg) 100% 100% no-repeat;*/
	background: #ecebe6 url(images/singleBerry.png) 100% 100% no-repeat;
}

p{
	font-family: 'NTR', sans-serif;
	font-size:18px;
	margin: 10px 50px 10px 70px;
}