
/* .   */
* {
	box-sizing: content-box;
}

body {
	background-color:#e8ce7e;
}
nav {
	height: 70px; 
	background-color: #ed2461;
	padding-left: 5%;
	margin-bottom: -70px;
	

}
a{

	font-family: 'NTR', sans-serif;
	font-size: 20px;
	color: #ecebe6;	
	text-decoration: none;
	display:inline-block;
	padding: 20px 20px;
}

a:link{

}
a:visited {

}

a:hover {
	height: 28px; 
	background: #ededed; 
	color: #fff;
	font-size: 20px;
	border: none;
	font-weight: bold;
	padding: 20px 20px;
	border: solid #fff 1px;
	text-shadow: 2px 2px 2px rgba(210, 200, 190, 1);
	border-radius: 5px;
}
.pastbloglinks a:hover{
	color: #aaa;
}

a:active {
	background: #ecebe6;
	color: #ed2461;
}

header {
    height: 550px;
    width: 100%;
	/*background: #ecebe6 url(images/strawberries.jpg) 100% 100% no-repeat;*/
	background: #ecebe6 url(images/singleBerry1.jpg);
	background-repeat:no-repeat; 
	background-size:contain; 
	background-position:center; 
	margin: 0;
}

h1 {

	font-family: 'Cabin Sketch', cursive;
	font-size: 106px;
	/*color: #e8ce7e;*/
	color:#ed2461;
    padding: 0;
    margin:top: 3%;
    margin-left: 8%;

}

h1.title {
	font-family: 'Cabin Sketch', cursive;
	/*font-family: 'NTR', sans-serif;*/
	font-size: 56px;
	font-weight: 900;
	color: #ed2461;
	text-align: center;
	/*color: #e8ce7e;*/
}



main p{
	font-family: 'NTR', sans-serif;
	font-size:22px;
}

main {
	display:flex;
	flex-direction: row;
	margin: 5% 0;
}
div.currentpost {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	width: 64%;
	padding: 0 5% 0 5%;
	margin: 0 3% 0 3%;
}

article img {
	padding: 5%;
}



div.pastposts {
	display: flex;
	flex-direction: column;
	background-color: #ffffff;
	margin: 0 3% 0 0;
	padding-top: 15%;
	width: 27%;
}


.pastposts h2 {
	color:#000;
	margin-top: 3%;
	font-family: 'NTR', sans-serif;
	font-size: 30px;

}

.pastbloglinks img{
   margin-bottom: -80px;

}

.pastbloglinks a {
	color:#000;
	margin: 0 5%;
}


.balls {
	align-self: center;
	width: 100%;
	max-width: 100;
	height: auto;
}


.pastposts img {
	width: 50%;
	max-width: 100;
	height: auto;
	padding: 5% 0 20% 20%;
}
.selfie {
	width: 50%;
	max-width: 50%;
	height: auto;
	float: left;
}
.horse {
	width: 40%;
	max-width: 50%;
	height: auto;
	float: right;
}

footer {
	/*display: flex;
	flex-direction: row;
	justify-content: center;*/
	background-color: #ed2461;
	height: 100px;
	width: 100%;
	
}

.subscribe a {
	display: inline-block;
	height: 20px;
	width: 30px;
	border: solid #fff 1px;
}


footer p {
	display: inline-block;
	font-size: 17px;
	text-align: right;
}


#social-media {
	padding: 5px;
	display: inline-block;
}

#facebook {
	width: 13%;
	max-width: 20%;
	height: auto;
}
#twitter {
	width: 100%;
	max-width: 100%;
	height: auto;
}
#instagram {
	width: 23%;
	max-width: 50%;
	height: auto
}


